@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span style="margin-right: 10px">Welcome, @CustomerName</span>
            <button class="btn btn-primary" @onclick="Logout">Logout</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string CustomerName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        CustomerName = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "customerName");
    }

    private void Logout()
    {
        JSRuntime.InvokeVoidAsync("localStorage.removeItem", "token");
        JSRuntime.InvokeVoidAsync("localStorage.removeItem", "customerId");
        JSRuntime.InvokeVoidAsync("localStorage.removeItem", "customerName");
        JSRuntime.InvokeVoidAsync("localStorage.removeItem", "roleName");
        NavigationManager.NavigateTo("/");
    }
}